.admin-panel-wrapper {
    position: relative;
    display: block;
    width: 100%;
    margin: 25px auto;
}
.admin-panel {
    display: block;
    box-sizing: border-box;
    float: left;
    width: 49%;
    border: #dddddd 1px solid;
    margin: 0 1% 1% 0;
} 
.admin-panel-head {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
}
p.admin-panel-head {
    margin: 0 auto;
    padding: 15px 0;
    background: #dddddd;
}
.admin-panel-link, .index-list-col, .index-list-col-m {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}
.admin-panel-wrapper::after {
    content: "";
    display: table;
    clear: both;
}
.no-border-panel {
    margin-bottom: 5px;
    border: none;
}

.index-list-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    }.index-list-wrapper::after {
        content: "";
        display: table;
        clear: both;}
        .index-list-wrapper:nth-child(odd){background: #eeeeee;}
        .index-list-wrapper:last-child{border-bottom: 1px solid #eeeeee;}

        .index-list-col, .index-list-col-m {
            display: flex;
            align-items: center;
            padding-left: 15px;
        }
.index-list-col {
    float: left;
    width: 20%;
}
.index-list-col-m {
    float: left;
    width: 40%;
}

