.slider-wrapper {
    position: relative;
    display: block;
}
.menu-spacer {
    position: relative;
    width: 100%;
}
.slider-image-wrapper > img {
    width: 100%;
}

.slider-image-wrapper {
    display: block;
    position: relative;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
    }
.flex-direction-nav {
    display: none;
}

    @-webkit-keyframes fade {
    from {
        opacity: 0; 
        } 
    to {
        opacity: 1;
        }
    }

    @keyframes fade {
        from {
            opacity: 0;
            } 
        to {
            opacity: 1;
            }
        }