.cart-ui-wrapper {
    display: block;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    width: 70%;
    margin: 80px auto;

}
.cart-ui-container {
    position: relative;
    display: flex;
    background: white;
    width: 100%;
}
.cart-ui-head {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
    background: #333333;}
    .cart-ui-head > p {margin: 0;}

.cart-ui-container > div {
    padding: 15px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    align-items: center;
    text-align: center;}
    .cart-ui-container > div > p {margin: 0;}
    .cart-action{width: 15%}
    .cart-name {
        position: relative;
        display: flex;
        padding: 0px !important;
        width: 70%;}
        .cart-name > p {
            padding: 15px 5px !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 70%;
            float: left;
            text-align: left;
        }
        .cart-name > img {
            width: 10%;
        }

        #cart-total-mobile {
            display: none;
        }
        #cart-total-machine {
            display: block;
        }

        .cart-input {
            width: 45%;
            float: left;
        }
        .cart-input::after {
            display: table;
            content: "";
            clear: both;
        }
        .cart-ui-wrapper::after {
            display: table;
            content: "";
            clear: both;
        }

.cart-form-wrapper {
    padding: 5vh auto;
}
.cart-form {
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 15px 0 15px 0;
}
.cart-form::after {
    display: table;
    content: "";
    clear: both;
}
.cart-form > * {
    display: block;
    margin: 5px 2.5%;
    box-sizing: border-box;
    padding: 5px 0 5px 15px;
    width: 45%;
    align-self: center;
    float: left;
}
#checkout-form {
    display: none;
}
        @media screen and (max-width: 769px) { 
            #cart-total-mobile {
                display: block;
            }
            #cart-total-machine {
                display: none;
            }
            /* .cart-ui-container > div > p {
                font-size: 8px;
            } */
        }
        @media screen and (max-width: 426px) { 
            .cart-form > * {
                display: block;
                margin: 5px auto;
                box-sizing: border-box;
                padding: 5px 0 5px 15px;
                width: 90%;
                
                float: none;
            }
            .mob-cnt {
                margin: auto;
                width: 100%;
            }

        }
    .fa-input {
        font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

.thankyou {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 15px;
    font-weight: 600;
    color: white;
}
.i-ty {
    color: #333333;
    background: #e2e2e2;
}

.t2-col {float: left; width: 50%; }
.t2-col::after {
    content: "";
    display: table;
    clear: both;
}