
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    /* background: #e2e2e2; */
}
.page-wrapper {
    min-height: 100%;
    width: 100%;
    height: auto;
}
* {
    font-family: 'Montserrat', sans-serif;
}

html::-webkit-scrollbar { display: none; }
h1, h2, h3, h4 { 
    text-transform: uppercase;
}
p, h1, h2, h3, h4, .p, .web-c {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
.anchor {
    color: blue !important;
    text-decoration: underline !important;
}
p {
    font-size: 13px;
    letter-spacing: 1px;
}
  
::selection {
    background-color: #ff7e00;
    color: white;
}

.hr {margin: 25px 0}
.i-cwhite {color: #ffffff;}
.i-cred {color: #ff0000;}
.i-cgreen {color: green;}
.i-cblack {color: #2d2d2d;}
.i-corange {color: #ff7e00;}
.i-bwhite {background: #ffffff !important}
.i-bblack {background: #2d2d2d;}
.i-borange {background: #ff7e00;}
.p {font-size: 13px;} 
.spacer {width: 100%; height: 1px; margin-bottom: 10vh;}

div.image {
    
    animation: poofs 0.5s;
}
/* alignments */
.no-margin {margin: 0;}
.margin-auto {width: 80%;margin: auto;}
.margin-bottom-more {margin-bottom: 20px;}
.margin-top {margin-top: 10px;}
.margin-right {margin-right: 10px;}
.global-three-col > div > img {width: 100%;}
.flex {display: flex;}
.align-center {text-align: center;}
.align-left {text-align: left;}
.align-right {text-align: right;}
.float-l {float: left;}
.float-r {float: right;}
.justify {text-align: justify;}
.bordered {border: 0.5px solid #333333;}      

.clear {
    content: "";
    display: table;
    clear: both;    
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-wrapper {
    display: block;
    box-sizing: border-box;
    width: 25%;
    margin: auto;    
    padding: 0 15px;
    border: 2px solid #ffffff;
    text-align: center;
}
.sidenav, .sidemob {
    position: fixed;
    display: none;
    z-index: 11;
    right: 0;
    padding: 80px 0;
    background:#fff;
    -webkit-box-shadow:inset 0.5px 0 0 0 rgba(0, 0, 0, 0.2);
    box-shadow:inset 0.5px 0 0 0 rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: 100vh;}
    .sidenav > div, .sidenavmob {
        display: block;
        color: black;
        padding: 5vh;
        margin: 5vh auto;
    }
    .sidenav > div > a, .sidenavmob > a {
        display: block;
        color: #2d2d2d;
        font-weight: 600;
        text-transform: uppercase;
        border-left: 1px solid #ff7e00;
        padding-left: 5px;
        margin: 0 5vh 15px 0;
        transition: 0.3s;}
        .sidenav > div > a:hover, .sidenavmob > a:hover {
            cursor: pointer;
            transition: 0.3s;
            border-left: 5px solid #ff7e00;
        }
        .category-title, .titles {
            font-weight: 700;
            letter-spacing: 1px;}
            .category-title {   
                font-size: 20px; 
                border-left: 5px solid #ff7e00;
                padding-left: 15px;
            }
            .titles {
                font-size: 30px;
            }
        .title-desc {
            margin-top: 3px;
            border-top: 1px dashed #ffffff;
            padding-top: 10px;
            font-style: italic;
            margin-bottom: 50px;
        }
#cart-menu {
    animation: poofs 1.5s;
}  
.col-wrapper {
    position: relative;
    display: block;
    width: 100%;
    }.col-wrapper::after, div::after {
        content: "";
        display: table;
        clear: both;
}
.m-spacer {
    margin: 20px auto;
}
.mini-h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 600;
}
.four-col {
    float: left;
    box-sizing: border-box;
    width: 25%;
}
.brand-logo {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.3s;
}.brand-logo:hover {
    transition: 0.3s;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transform: scale(1.1);

}

@keyframes poofs {
    0% {opacity: 0.0;transform: scale(0.0);}
    50% {opacity: 1.0;transform: scale(1.2);}
    100% {opacity: 1.0;transform: scale(1.0);}
}
@-moz-keyframes poofs {
    0% {opacity: 0.0;transform: scale(0.0);}
    50% {opacity: 1.0;transform: scale(1.2);}
    100% {opacity: 1.0;transform: scale(1.0);}
}
@-webkit-keyframes poofs {
    0% {opacity: 0.0;transform: scale(0.0);}
    50% {opacity: 1.0;transform: scale(1.2);}
    100% {opacity: 1.0;transform: scale(1.0);}
}