.rows {
    padding: 5% 0;
    width: 100%;
}
.global-container {
    margin: auto;
    padding-top: 10px;
    width: 60%;
}

.i-bblack {background: #2d2d2d;}
.i-cwhite {color: #ffffff;}

.global-three-col {
    display: block;
    width: 100%;
}
/* .global-three-col::after {
    content: "";
    display: table;
    clear: both;
} */
.global-three-col  /* > div  */{
    /* display: block;
    float: left;
    margin: 15px 2%;
    width: 29%; */
    
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10vh;
}

h2 { 
    text-transform: uppercase;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px 15px 0px;
}

.flex {
    display: flex;
}
.margin-top {
    margin-top: 10px;
}
.margin-auto {
    width: 80%;
    margin: auto;
}
.margin-auto > a {
    text-decoration: none;
    color: #ffffff;
}
hr {margin: 0px 0px 25px 0px;}
#newsletterForm::after {
    content: "";
    display: table;
    clear: both;
}
.form-btn {
    border: none;
    outline: 0;
    padding: 5px;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


@media screen and (max-width: 1025px) {
    .global-three-col {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10vh;
    } 
    /* .global-three-col  > div {
        float: left;
        margin: 15px 2%;
        width: 45%;
    } */
        
  }
  
  @media screen and (max-width: 769px) {
    .global-three-col {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10vh;
    }
    /* .global-three-col  > div {
        float: left;
        margin: 15px 2%;
        width: 45%;
    } */
        
  }
  
  
  @media screen and (max-width: 426px) { 
    .global-three-col {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10vh;
    }
    /* .global-three-col  > div {
        float: none;
        margin: 15px auto;
        width: 90%;
      } */
    }