.login-wrapper {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    border-radius: 15px;
    padding: 5vh 0;
    background: #FFFFFF;
}
.login-head {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #2d2d2d;
    text-transform: none;
    letter-spacing: 1px;
    padding: 5px 0;
}

.success {
    text-align: center;
    color: #FFFFFF;
    background: #37903f;
    animation: poofs 0.5s;
}
.fatal {
    text-align: center;
    color: #FFFFFF;
    background: #ff4c4c;
    animation: poofs 0.5s;
}
.login-form {
    display: block;
    width: 90%;
    margin: auto;
}

.login-input {
    display: block;
    border: none;
    outline: 0;
    width: 70%;
    margin: 15px auto;
    padding: 5px 15px 5px 5px;
}
.bordered {
    border: solid 1px #cccccc;
}

@media screen and (max-width: 769px) {
    
    .login-wrapper {
        width: 50%;
    }
    
}

@media screen and (max-width: 427px) {
    
    .login-wrapper {
        width: 80%;
    }
    
}

