.navigation {
    display: block;
    position: fixed;
    z-index: 12;
    width: 100%;
    height: 80px;
    background: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  }
  .navigation img {
    position: absolute;
    top: 50%;
    padding-left: 15%;
    transform: translateY(-50%);
    width: 120px;
  }
  .mob-menu {
    position: absolute;
    display: none;
    top: 50%;
    right: 0;
    padding-right: 15%;
    transform: translateY(-50%);
}
  .navigation-menu {
    position: absolute;
    top: 50%;
    right: 0;
    padding-right: 15%;
    transform: translateY(-50%);
    }.navigation-menu:hover{cursor: pointer;}
    ul#horizontal-list {
            list-style: none;}
            ul#horizontal-list li {
            display: inline;}
            ul#horizontal-list li > a {
            font-family: 'Montserrat', sans-serif;
            font-size: 11px;
            letter-spacing: 1px;
            color: #727071;
            font-weight: 600;
            border-left: 5px solid #ffffff;
            padding-left: 10px;
            transition: 0.3s;
            }ul#horizontal-list li > a:hover{
              margin-left: 5px;
              border-left: 5px solid #ff7e00;
              text-decoration: none;
              transition: 0.3s;}
            .tq {
              padding: 5px 15px;
              margin-left: 15px;
              border-radius: 0px 25px 25px 0px;
              font-weight: 600;
              color: white;}.empty{background: #ff4c4c;}.filled{background: #ff7e00;}

.home-banner {

  position: relative;
  display: block;
  width: 100%;
  height: 81px;

}
.home {
  position: relative;
  display: block;
  width: 100%;
  height: 50vh;
  background: #ff7e00;

}


.product-container {
    display: block;
    position: relative;
    width: 60%; /* 90% */
    padding: 80px 0px;
    margin: 0 auto;}
    .product-grid-container {
        display: inline-block;
        grid-gap: 15px;
        position: relative;
        width: 100%;}
        .product-grid {
            display: block;
            position: relative;
            float: left;
            margin: 15px 2.5%;
            /* border: #dddddd 1px solid; */
            border-radius: 5px;
            width: 19%;
            background: white;
            text-align: center;}
            .read-more {
              position: absolute;
              font-family: 'Montserrat', sans-serif;
              font-size: 11px;
              top: 0;
              right: 0;
              text-align: center;
              padding: 5px 15px;color: #fff;
              background: #ff7e00;
              z-index: 2;
              transition: 0.3s;
            }.read-more:hover { cursor: pointer; transition: 0.3s;}
            .image {
              position: relative;
              display: flex;
              align-items: center;
              margin:15px auto;
              background-size:cover;
              background-position:center;
              background-repeat:no-repeat;
              width: 70%;
              height: 25%;
              transition: 0.3s;}
              .image:hover {
                transition: 0.3s;
                transform: scale(1.1);
              }
              .image-true {
                width: 100%;
              }
            /* .product-grid > img{width: 70%; margin:15px auto;} */
            .product-grid > h1 {    
              width: 70%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

              text-align: center;
              margin: auto;
              margin-bottom: 15px;
              font-size: 17px;
              letter-spacing: 1px;
              font-weight: 600;
            }
        .product-grid-container::after{
            content: "";
            display: table;
            clear: both;}
            .description {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: center;
              width: 70%;
              margin: 15px auto;
              max-height: 15px;
            }

.cart-action {
  width: 80%;
  margin: auto;
}       
.quotebutton, input.product-quantity{
  outline: 0;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 15px;}
  .quotebutton{   
    transition: 0.5s;
    width: 60%;
    border: 1px solid #ff7e00;
    color: #fff;
    background: #ff7e00;}
    .quotebutton:hover{transition: 0.5s; background: grey;
      border: 1px solid grey;}
  input.product-quantity{
    box-sizing: border-box;
    text-align: center;
    color: #333;    
    width: 20%;
    border: #E0E0E0 1px solid;
    }


    .tbl-cart {
      font-size: 0.9em;
    }
    
    .tbl-cart th {
      font-weight: normal;
    }


    .product-view-container {
      display: block;
      position: relative;
      width: 60%;
      padding: 80px 0px;
      margin: 0 auto;}
    .product-view {
      display: block;
      position: relative;
      float: left;
      margin: 15px 2%;
      border: #dddddd 1px solid;
      border-radius: 5px;
      width: 45%;
      background: white;
      text-align: center;
      }.view-img-main{width: 50%; margin: auto;}
      .img-view-holder {
        background: transparent;
        border: 1px solid transparent;
      }
      .view-text-container {
        position: relative;
        display: block;
        width: 100%;
      }
      .view-text-container > * {
        width: 80%;

        margin: 15px auto;
        text-align: left;
      }
      .view-text-container > h1 {
        padding: 20px 40px;
        font-size: 20px;}
        
      .view-text-container > img {
        width: 90%;
        margin: 15px auto;
      }.view-text-container > img::after{content: ''; display: table; clear: both;}
      .view-cart-action {width: 100%;}

      
      .no-records{
        padding: 15px;
        text-align: center;
        font-size: 11px;
        letter-spacing: 1px;
        font-weight: 600;
        color: white;
        background: #ff4c4c;
        color: #fff;
        transition: 0.3s;}
        .no-records:hover{transition: 0.5s; cursor: not-allowed;}
        .yes-records{
          padding: 15px;
          text-align: center;
          font-size: 11px;
          letter-spacing: 1px;
          font-weight: 600;
          color: white;
          background: rgb(23, 155, 76);
          color: #fff;
          transition: 0.3s;}
          .yes-records:hover{transition: 0.5s;}
          .warning {
            background: rgb(23, 155, 76);
          }
.button {
  border: none;
  outline: none;
  background: #ff7e00;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 600;
  color: white;
  padding: 5px 15px;
}

.i-bred {background: #ff0000;}
.i-bgreen {background: green;}
.button:hover {
  transition: 0.3s;
  cursor: pointer;
}

#fileToUpload, #galleryupdate{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.cart-input {
  border: none;
  padding: 5px 15px;
  text-align: center;
  width: 40%;
  float: left;
}

.cart-input::after {
  display: table;
  content: '';
  clear: both;
}


.footer {
  width: 100%;
  padding: 5px 0;
  letter-spacing: 1px;
  background: #333;
}

.box, .box-admin, .box-admin-full {
  display: block;
  position: relative;
  float: left;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  margin: 2.5%;
  overflow: hidden;
  padding-top: 15%;
} .box {width: 15%;}
.box-admin {
  width: 35%; }
  .box-admin-full {
    width: 75%; }
.box-gallery {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.box::after {
  content: "";
  display: table;
  clear: both;
}
.product-view::after, .product-view-container::after {
  content: "";
  display: table;
  clear: both;
}

.save-product {
  position: absolute;
  top: 15%;
  right: -15%;  
  transform: translate(-50%, -50%);
  background: green;
  padding: 15px;
}

.main_img {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-banner {
  display: block;
  position: relative;
  height: 35vh;
  width: 100%;
  background: orange;
}.bged {background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg.jpeg) no-repeat center center;}


#mobile-banner {
  display: none;
}
@media screen and (max-width: 1025px) {
  .product-grid {
    margin: 15px 2%;
    width: 29%;
  }  
  
  #mobile-banner {
    display: block;
  }
  
  .mob-menu {
    display: block;
  }
  
  .navigation-menu, 
  div#mobile-banner.category-banner.bged {
    display: none;
  }
  
}

@media screen and (max-width: 769px) {
  .product-grid {
    margin: 15px 2%;
    width: 45%;
  }
  .title-wrapper {
    width: 50%;
  }
  .product-view {
    width: 100%;
  }
  .pc-banner {
    display: none;
  }
  div#mobile-banner.category-banner.bged {
    display: block;
  }
}


@media screen and (max-width: 426px) { 
  .product-view-container { width: 80%; }
  .product-container { width: 60%}
  .product-grid, .product-view {
    float: none;
    margin: 15px auto;
    width: 100%;
  }
  .title-wrapper {
    width: 90%;
  }
  .titles {
    font-size: 20px;
  }
  .cart-ui-wrapper {
    width: 90% !important;
  }
  
}


